Repository meta-metamong/meta-space, pull requests merged in 2025-02, with the labels that each got.

#43 test: member 컴포넌트 테스트 코드 작성
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/exception/InvalidLoginRequestException.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtAuthenticationFilter.java
  backend/src/test/java/com/metamong/mt/domain/member/controller/MemberControllerMockMvcTest.java
  backend/src/test/java/com/metamong/mt/domain/member/repository/jpa/MemberRepositoryTest.java
  backend/src/test/java/com/metamong/mt/domain/member/repository/mybatis/MemberMapperTest.java
  backend/src/test/java/com/metamong/mt/domain/member/service/DefaultMemberServiceTest.java
  backend/src/test/java/com/metamong/mt/testutil/DummyEntityGenerator.java
  backend/src/test/java/com/metamong/mt/testutil/MockFileUploader.java
Labels: back-end

#44 file download
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/MemberService.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
  frontend/package-lock.json
  frontend/src/components/common/Header.vue
  frontend/src/components/member/FileDownload.vue
  frontend/src/components/member/WebSocket.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/Download.vue
  frontend/src/router/index.js
Labels: front-end, back-end

#45 chore: 환경변수 설정
  frontend/.env
  frontend/package-lock.json
  frontend/src/apis/axios.js
Labels: front-end

#47 refactor: 스프링 시큐리티 설정 리팩토링
  backend/src/main/java/com/metamong/mt/global/config/BeanConfig.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/metamong/mt/domain/member/controller/SecuredMemberControllerMockMvcTest.java
Labels: back-end

#48 Feature/signup
  frontend/src/apis/axios.js
  frontend/src/components/member/SignUpMember.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/SelectSignupRole.vue
  frontend/src/router/index.js
Labels: front-end

#49 feat: 토큰 이름 재변경
  frontend/src/apis/axios.js
Labels: front-end

#50 토큰 수정
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtTokenProvider.java
Labels: front-end, back-end

#51 feat: 토큰 재발급 문제 해결
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtTokenProvider.java
Labels: back-end

#53 chore: build script 수정
  Jenkinsfile
  backend/pom.xml
  backend/src/main/resources/mapper/member/MemberMapper.xml
  docker-compose.yml
  frontend/Dockerfile
Labels: back-end, chore

#55 chore: create pull_request_template.md
  .github/pull_request_template.md
Labels: chore

#65 feat: 이메일 인증 로직 구현
  backend/pom.xml
  backend/src/main/java/com/metamong/mt/domain/member/repository/redis/MemberVolatileCodeRepository.java
  backend/src/main/java/com/metamong/mt/domain/member/repository/redis/RedisMemberVolatileCodeRepository.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultEmailValidationService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/EmailValidationService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/mailformatter/MailValidationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/global/config/RedisConfig.java
  backend/src/main/java/com/metamong/mt/global/mail/MailType.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/metamong/mt/domain/member/repository/redis/RedisMemberVolatileCodeRepositoryTest.java
  backend/src/test/java/com/metamong/mt/domain/member/service/DefaultEmailValidationServiceTest.java
  backend/src/test/java/com/metamong/mt/global/redis/RedisConnectionTest.java
Labels: back-end, feature

#75 HOTFIX: MyBatis 관련 오류 해결
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
Labels: back-end, HOTFIX

#73 feat: 시설 등록 시 Request Body validation 추가
  backend/src/main/java/com/metamong/mt/domain/facility/controller/FacilityController.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/FacilityRegistrationRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/FacilityUpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityRegistrationResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/ZoneImageUploadUrlResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/model/Facility.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/DefaultFacilityService.java
  backend/src/main/java/com/metamong/mt/global/config/BeanConfig.java
  backend/src/main/java/com/metamong/mt/global/jackson/fileextension/FileTypeDeserializer.java
  backend/src/test/java/com/metamong/mt/domain/facility/controller/FacilityControllerMockMvcTest.java
Labels: back-end, feature

#76 feat: 로그인 관련 프론트엔드 작업
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/ConsumerSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/ProviderSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/UpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/model/Member.java
  frontend/src/apis/axios.js
  frontend/src/components/common/Footer.vue
  frontend/src/components/common/Header.vue
  frontend/src/pages/Login.vue
  frontend/src/router/index.js
  frontend/src/store/index.js
Labels: front-end, back-end

#71 feat: 예약 상세 정보 조회 기능 구현
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/constant/PayState.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/constant/ReservationState.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/response/ReservationResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/model/Reservation.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/jpa/ReservationRepository.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapper.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/mapper/reservation/ReservationMapper.xml
  backend/src/test/java/com/metamong/mt/domain/reservation/controller/ReservationControllerMockMvcTest.java
  backend/src/test/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapperTest.java
  backend/src/test/java/com/metamong/mt/domain/reservation/service/DefaultReservaionServiceTest.java
  backend/src/test/java/com/metamong/mt/testutil/DummyEntityGenerator.java
  frontend/src/components/reservation/DetailReservation.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/Reservation.vue
  frontend/src/router/index.js
Labels: front-end, back-end

#79 refactor: 스프링 시큐리티 약간 변경
  backend/src/main/java/com/metamong/mt/global/auth/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
Labels: back-end, refactor

#80 feat: 시설 추천 기능 구현
  .gitignore
  backend/pom.xml
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/response/RecommendationResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/response/ReservationInfoResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/model/Reservation.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/jpa/ReservationRepository.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapper.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/WebClientConfig.java
  backend/src/main/java/com/metamong/mt/global/config/WebConfig.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/mapper/reservation/ReservationMapper.xml
  frontend/src/router/index.js
  python/Dokerfile
  python/__pycache__/main.cpython-313.pyc
  python/main.py
  python/requirements.txt
Labels: back-end

#83 chore: init data SQL문 작성
  db-schema/Dockerfile
  db-schema/banks.sql
  db-schema/categories.sql
  db-schema/init.sh
  db-schema/init_user.sql
  db-schema/schema.sql
Labels: back-end, chore

#86 feat: 회원 탈퇴
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/UpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/response/MemberResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/member/model/FctProvider.java
  backend/src/main/java/com/metamong/mt/domain/member/model/Member.java
  backend/src/main/java/com/metamong/mt/domain/member/repository/mybatis/MemberMapper.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/MemberService.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
  frontend/src/pages/Login.vue
Labels: back-end

#87 feat: 시설 수정 DTO 정의 및 API 엔드포인트 구현
  backend/src/main/java/com/metamong/mt/domain/facility/controller/FacilityController.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/FacilityUpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/ZoneUpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityUpdateResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/DefaultFacilityService.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/FacilityService.java
  backend/src/main/java/com/metamong/mt/global/apispec/CommonListUpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/global/apispec/CommonUpdateListItemRequestDto.java
  backend/src/test/java/com/metamong/mt/domain/facility/controller/FacilityControllerMockMvcTest.java
Labels: back-end, feature

#88 feat: 예약하기, 취소 기능 구현
  backend/src/main/java/com/metamong/mt/domain/facility/repository/jpa/ZoneRepository.java
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationControllerAdvice.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/constant/CancelationReason.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/AvailableTimeRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/CancelRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/ReservationRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/response/HourlyUsageDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/exception/ReservationDuplicatedException.java
  backend/src/main/java/com/metamong/mt/domain/reservation/exception/ReservationNotFoundException.java
  backend/src/main/java/com/metamong/mt/domain/reservation/exception/errorcode/ReservationErrorCode.java
  backend/src/main/java/com/metamong/mt/domain/reservation/model/Reservation.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/jpa/ReservationRepository.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapper.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/mapper/reservation/ReservationMapper.xml
  python/Dockerfile
Labels: back-end

#95 fix: trivial errors
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/test/java/com/metamong/mt/domain/facility/repository/mybatis/FacilityMapperTest.java
Labels: fix

#96 feat: 회원 관련 프론트 구현
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/EmailValidationCodeRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/EmailValidationCodeTransmissionRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/FindPasswordRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/PasswordConfirmRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultEmailValidationService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/EmailValidationService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/test/java/com/metamong/mt/testutil/DummyEntityGenerator.java
  frontend/src/components/member/signup/InputEmail.vue
  frontend/src/components/member/signup/InputPassword.vue
  frontend/src/components/member/signup/InputRole.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/member/ChangePassword.vue
  frontend/src/pages/member/ConfirmPassword.vue
  frontend/src/pages/member/FindPassword.vue
  frontend/src/pages/member/Login.vue
  frontend/src/pages/member/Profile.vue
  frontend/src/pages/member/UpdateMember.vue
  frontend/src/router/index.js
Labels: front-end, back-end

#94 feat: 카테고리 목록 가져오기 구현
  backend/src/main/java/com/metamong/mt/domain/facility/controller/CategoryController.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/CategoryListResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/model/Category.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/CategoryService.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/DefaultCategoryService.java
  backend/src/test/java/com/metamong/mt/domain/facility/service/DefaultCategoryServiceTest.java
Labels: back-end, feature

#98 feat: 이메일 인증 API 연결
  backend/src/main/java/com/metamong/mt/global/config/BeanConfig.java
  backend/src/main/java/com/metamong/mt/global/config/RedisConfig.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/file/local/LocalFilenameResolver.java
  frontend/src/components/member/signup/InputEmail.vue
  frontend/src/pages/member/SignUp.vue
Labels: front-end, back-end

#101 fix: 회원가입 시 이메일 인증번호 비교 오류 수정
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultEmailValidationService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  frontend/src/components/member/signup/InputEmail.vue
  frontend/src/pages/Home.vue
Labels: back-end

#106 feat: 예약하기, 예약 목록, 상세 페이지 구현
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/constant/PayState.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/ReservationRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/model/Reservation.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapper.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/mapper/reservation/ReservationMapper.xml
  frontend/src/components/reservation/DetailReservation.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/reservation/DetailReservation.vue
  frontend/src/pages/reservation/Reservation.vue
  frontend/src/pages/reservation/ReservationList.vue
  frontend/src/router/index.js
Labels: front-end, back-end

#104 feat: AOP 로깅 구현
  backend/src/main/java/com/metamong/mt/domain/facility/model/Category.java
  backend/src/main/java/com/metamong/mt/domain/facility/model/FacilityImage.java
  backend/src/main/java/com/metamong/mt/domain/facility/model/ZoneImage.java
  backend/src/main/java/com/metamong/mt/global/config/WebConfig.java
  backend/src/main/java/com/metamong/mt/global/image/model/Image.java
  backend/src/main/java/com/metamong/mt/global/logging/LoggingAspect.java
  backend/src/main/java/com/metamong/mt/global/logging/LoggingInterceptor.java
Labels: back-end, feature

#103 feat: 시설 목록 가져오기 백엔드 로직
  backend/src/main/java/com/metamong/mt/domain/facility/controller/FacilityController.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/constant/Order.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/constant/OrderBy.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/constant/SearchCondition.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/mapper/FacilityListMetadataMapperDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/FacilityListRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityListItemResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityListResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/repository/mybatis/FacilityMapper.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/DefaultFacilityService.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/FacilityService.java
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
  backend/src/test/java/com/metamong/mt/domain/facility/repository/mybatis/FacilityMapperTest.java
Labels: back-end, feature

#105 chore: update ddl
  db-schema/schema.sql
Labels: back-end, chore

#108 feat: 결제 관련 백엔드 개발 완성
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/ProviderSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/ProviderSignupAccountRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/UpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/response/MemberResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/member/model/Account.java
  backend/src/main/java/com/metamong/mt/domain/member/model/FctProvider.java
  backend/src/main/java/com/metamong/mt/domain/member/model/Member.java
  backend/src/main/java/com/metamong/mt/domain/member/model/constant/Role.java
  backend/src/main/java/com/metamong/mt/domain/member/repository/jpa/AccountRepository.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/domain/payment/controller/PaymentController.java
  backend/src/main/java/com/metamong/mt/domain/payment/controller/PaymentControllerAdvice.java
  backend/src/main/java/com/metamong/mt/domain/payment/dto/request/PaymentRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/payment/dto/response/PaymentResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/payment/exception/AccountNotFoundException.java
  backend/src/main/java/com/metamong/mt/domain/payment/exception/NotEnoughMoneyException.java
  backend/src/main/java/com/metamong/mt/domain/payment/exception/PaymentNotFoundException.java
  backend/src/main/java/com/metamong/mt/domain/payment/exception/errorcode/PaymentErrorCode.java
  backend/src/main/java/com/metamong/mt/domain/payment/model/Payment.java
  backend/src/main/java/com/metamong/mt/domain/payment/model/constant/PaymentState.java
  backend/src/main/java/com/metamong/mt/domain/payment/repository/mybatis/PaymentMapper.java
  backend/src/main/java/com/metamong/mt/domain/payment/service/DefaultPaymentService.java
  backend/src/main/java/com/metamong/mt/domain/payment/service/PaymentService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/ReservationNPaymentRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/ReservationRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/model/Reservation.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/mapper/payment/PaymentMapper.xml
  frontend/src/router/index.js
Labels: back-end

#109 design: facility registration view
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/FacilityRegistrationRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/ZoneRegistrationRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/ImageUploadUrlResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/model/FacilityState.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/DefaultFacilityService.java
  backend/src/main/java/com/metamong/mt/global/file/local/LocalFileUploader.java
  db-schema/sampledata.sql
  frontend/src/apis/axios.js
  frontend/src/components/facility/AdditionalInformation.vue
  frontend/src/components/facility/FacilityRegistrationInput.vue
  frontend/src/components/facility/ZoneRegistrationInput.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/facility/FacilityRegistration.vue
Labels: front-end, feature

#110 fix: 회원가입 및 정보 수정 로직 수정
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/ConsumerSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/ProviderSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/ProviderSignupAccountRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/UpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/mailformatter/IdNotificationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/domain/member/mailformatter/MailValidationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/domain/member/mailformatter/PasswordResetLinkMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/global/mail/MailAgentMock.java
  frontend/src/components/member/signup/InputAdditional.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/member/Profile.vue
  frontend/src/pages/member/SignUp.vue
  frontend/src/pages/member/UpdateMember.vue
Labels: front-end, back-end

#112 fix: 테스트 코드에 있는 버그 수정
  backend/src/test/java/com/metamong/mt/domain/facility/repository/mybatis/FacilityMapperTest.java
  backend/src/test/java/com/metamong/mt/global/file/local/LocalFileUploaderTest.java
Labels: back-end, fix

#113 design: 시설 등록 페이지 버튼을 아이콘으로 변경
  frontend/src/components/facility/AdditionalInformation.vue
  frontend/src/components/facility/FacilityRegistrationInput.vue
  frontend/src/components/facility/ZoneRegistrationInput.vue
  frontend/src/pages/facility/FacilityRegistration.vue
Labels: front-end, feature

#114 feat: 결제 프론트엔드
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/response/BankListResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/response/BankResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/response/MemberResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/member/model/Account.java
  backend/src/main/java/com/metamong/mt/domain/member/repository/mybatis/BankMapper.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/domain/payment/dto/response/PaymentResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/payment/model/Payment.java
  backend/src/main/java/com/metamong/mt/domain/payment/service/DefaultPaymentService.java
  backend/src/main/java/com/metamong/mt/domain/payment/service/PaymentService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/CancelRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/mapper/member/BankMapper.xml
  backend/src/main/resources/mapper/payment/PaymentMapper.xml
  frontend/src/apis/axios.js
  frontend/src/assets/banks.js
  frontend/src/components/common/Footer.vue
  frontend/src/components/member/signup/InputAdditional.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/member/Profile.vue
  frontend/src/pages/member/UpdateMember.vue
  frontend/src/pages/payment/DetailPayment.vue
  frontend/src/pages/payment/PaymentList.vue
  frontend/src/pages/reservation/ReservationList.vue
  frontend/src/router/index.js
  frontend/src/style.css
Labels: front-end, back-end

#117 feat: 카카오맵 api 연동
  backend/src/main/java/com/metamong/mt/domain/facility/controller/FacilityController.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityListItemResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/ReservationListRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapper.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
  backend/src/main/resources/mapper/reservation/ReservationMapper.xml
  backend/src/test/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapperTest.java
  frontend/src/components/common/Footer.vue
  frontend/src/components/common/Pagination.vue
  frontend/src/pages/Map.vue
  frontend/src/pages/reservation/DetailReservation.vue
  frontend/src/pages/reservation/Reservation.vue
  frontend/src/pages/reservation/ReservationList.vue
  frontend/src/router/index.js
Labels: front-end

#118 feat: 회원 프로필 이미지 추가
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/LoginRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/request/UpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/response/MemberResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/member/model/Member.java
  backend/src/main/java/com/metamong/mt/domain/member/model/MemberImage.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/global/config/WebConfig.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/java/com/metamong/mt/global/file/local/FileUploadController.java
  backend/src/main/java/com/metamong/mt/global/image/repository/ImageRepository.java
  frontend/src/apis/axios.js
  frontend/src/pages/member/Profile.vue
  frontend/src/pages/member/UpdateMember.vue
Labels: front-end, back-end

#119 refactor: 시설 등록 화면 수정
  frontend/src/components/facility/AdditionalInformation.vue
  frontend/src/components/facility/FacilityRegistrationInput.vue
  frontend/src/components/facility/ZoneRegistrationInput.vue
  frontend/src/pages/facility/FacilityRegistration.vue
  frontend/src/pages/reservation/ReservationList.vue
Labels: front-end

#121 feat: 프론트 페이지 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/FctCard.vue
  frontend/src/components/common/Footer.vue
  frontend/src/components/common/SearchBox.vue
  frontend/src/main.js
  frontend/src/pages/Home.vue
  frontend/src/pages/Search.vue
  frontend/src/pages/facility/SearchedFacilityList.vue
  frontend/src/router/index.js
Labels: front-end

#120 feat: 시설 수정 화면 기능 구현
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/FacilityUpdateRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/AdditionalInfoResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityImageResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/ZoneImageResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/model/Zone.java
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
  db-schema/banks.sql
  db-schema/categories.sql
  db-schema/sampledata.sql
  db-schema/schema.sql
  frontend/src/components/facility/AdditionalInformation.vue
  frontend/src/components/facility/FacilityRegistrationInput.vue
  frontend/src/components/facility/ZoneRegistrationInput.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/facility/FacilityEdit.vue
  frontend/src/pages/facility/FacilityRegistration.vue
  frontend/src/pages/facility/MyFacilityList.vue
  frontend/src/router/index.js
Labels: front-end, feature

#123 feat: 메인, 검색, 검색 후 리스트업 화면 구현
  backend/src/test/java/com/metamong/mt/domain/member/controller/MemberControllerTests.java
  frontend/src/components/common/SearchBox.vue
  frontend/src/components/facility/FctCard.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/Home.vue
  frontend/src/pages/Search.vue
  frontend/src/pages/facility/SearchedFacilityList.vue
  frontend/src/router/index.js
Labels: front-end

#122 feat: 시설 상세 화면 구현
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityResponseDto.java
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
  frontend/src/components/facility/FacilityDetail.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/router/index.js
Labels: back-end, feature

#125 feat: 배너 추가
  frontend/src/pages/Home.vue
  frontend/src/resource/image/banner1.png
  frontend/src/resource/image/banner2.png
Labels: front-end

#124 fix: 컴파일 에러 및 테스트 코드 에러
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/test/java/com/metamong/mt/domain/reservation/service/DefaultReservaionServiceTest.java
Labels: back-end, refactor, fix

#126 feat: 인기검색어
  frontend/src/components/common/SearchBox.vue
  frontend/src/pages/Search.vue
  frontend/src/pages/facility/SearchedFacilityList.vue
Labels: front-end, back-end

#127 feat: 인기검색어
  backend/src/main/java/com/metamong/mt/global/config/RedisConfig.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/java/com/metamong/mt/global/search/controller/SearchController.java
  backend/src/main/java/com/metamong/mt/global/search/dto/request/SearchRequestDto.java
  backend/src/main/java/com/metamong/mt/global/search/dto/response/SearchResponseDto.java
  backend/src/main/java/com/metamong/mt/global/search/service/DefaultSearchService.java
  backend/src/main/java/com/metamong/mt/global/search/service/SearchService.java
Labels: back-end

#128 feat: store에 회원 역할과 회원 이름 추가 저장
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/dto/response/LoginResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/MemberService.java
  backend/src/test/java/com/metamong/mt/domain/member/controller/MemberControllerMockMvcTest.java
  backend/src/test/java/com/metamong/mt/domain/member/controller/SecuredMemberControllerMockMvcTest.java
  backend/src/test/java/com/metamong/mt/domain/member/repository/mybatis/MemberMapperTest.java
  backend/src/test/java/com/metamong/mt/domain/member/service/DefaultMemberServiceTest.java
  frontend/src/store/index.js
Labels: front-end, back-end

#129 feat: 시설 목록 검색 API 연결
  backend/src/main/java/com/metamong/mt/domain/facility/controller/FacilityController.java
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
  frontend/src/components/common/Footer.vue
  frontend/src/components/common/SearchBox.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/Search.vue
  frontend/src/pages/facility/SearchedFacilityList.vue
  frontend/src/router/index.js
Labels: front-end, feature

#131 feat: 신고 도메인 구현
  backend/src/main/java/com/metamong/mt/domain/facility/repository/mybatis/FacilityMapper.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/DefaultFacilityService.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/FacilityService.java
  backend/src/main/java/com/metamong/mt/domain/report/controller/ReportController.java
  backend/src/main/java/com/metamong/mt/domain/report/controller/ReportControllerAdvice.java
  backend/src/main/java/com/metamong/mt/domain/report/dto/request/ReportProcessRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/report/dto/request/ReportRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/report/dto/response/ReportResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/report/dto/response/ReportTypeResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/report/exception/ReportNotFoundException.java
  backend/src/main/java/com/metamong/mt/domain/report/exception/errorcode/ReportErrorCode.java
  backend/src/main/java/com/metamong/mt/domain/report/model/Report.java
  backend/src/main/java/com/metamong/mt/domain/report/model/constant/ReportType.java
  backend/src/main/java/com/metamong/mt/domain/report/repository/jpa/ReportRepository.java
  backend/src/main/java/com/metamong/mt/domain/report/service/DefaultReportService.java
  backend/src/main/java/com/metamong/mt/domain/report/service/ReportService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
  frontend/src/store/index.js
Labels: back-end

#133 chore: Jacoco (테스트 코드 커버리지 툴) 추가
  backend/pom.xml
Labels: back-end, chore

#134 feat: 결제 API가 연결되었습니다~
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  frontend/.env
  frontend/index.html
  frontend/src/components/facility/FacilityDetail.vue
  frontend/src/components/facility/FctCard.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/facility/SearchedFacilityList.vue
  frontend/src/pages/payment/PaymentResult.vue
  frontend/src/pages/reservation/Reservation.vue
  frontend/src/router/index.js
Labels: front-end, back-end

#136 feat: 예약 상세 화면 국제화 및 예약 취소 api 연결
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/member/UpdateMember.vue
  frontend/src/pages/reservation/DetailReservation.vue
  frontend/src/pages/reservation/Reservation.vue
Labels: front-end, back-end

#135 enhancement: 프론트에서 여러 enhancement
  frontend/src/components/common/Footer.vue
  frontend/src/components/common/Header.vue
  frontend/src/components/facility/FacilityDetail.vue
  frontend/src/store/index.js
Labels: enhancement, front-end

#140 feat: 프론트엔드 알림창 꾸미기
  frontend/src/components/common/Footer.vue
  frontend/src/components/common/Header.vue
  frontend/src/components/member/signup/InputDetail.vue
  frontend/src/components/member/signup/InputEmail.vue
  frontend/src/components/member/signup/InputPassword.vue
  frontend/src/pages/member/ChangePassword.vue
  frontend/src/pages/member/ConfirmPassword.vue
  frontend/src/pages/member/FindPassword.vue
  frontend/src/pages/member/Login.vue
  frontend/src/pages/member/SignUp.vue
  frontend/src/pages/member/UpdateMember.vue
  frontend/src/store/index.js
  package-lock.json
  package.json
Labels: front-end

#141 feat: 시설 주소에서 위도/경도 가져오기 구현
  backend/pom.xml
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/FacilityRegistrationRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/model/Facility.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/DefaultFacilityService.java
  backend/src/main/java/com/metamong/mt/global/config/BeanConfig.java
  backend/src/main/java/com/metamong/mt/global/location/AmbiguousAddressException.java
  backend/src/main/java/com/metamong/mt/global/location/LatLng.java
  backend/src/main/java/com/metamong/mt/global/location/LocationProvider.java
  backend/src/main/java/com/metamong/mt/global/location/RestTemplateKakaoLocationProvider.java
  backend/src/main/resources/application.properties
  frontend/src/components/facility/AdditionalInformation.vue
  frontend/src/components/facility/FacilityRegistrationInput.vue
  frontend/src/pages/Map.vue
  frontend/src/pages/facility/FacilityRegistration.vue
Labels: front-end, back-end, feature, fix

#143 feat: notification 연결
  backend/src/main/java/com/metamong/mt/domain/admin/service/DefaultAdminService.java
  backend/src/main/java/com/metamong/mt/domain/notification/exception/FailedNotificationTransmissionException.java
  backend/src/main/java/com/metamong/mt/domain/notification/handler/ClientResolverHandshakeInterceptor.java
  backend/src/main/java/com/metamong/mt/domain/notification/handler/NotificationWebSocketHandler.java
  backend/src/main/java/com/metamong/mt/domain/notification/repository/InMemoryWebSocketSessionRepository.java
  backend/src/main/java/com/metamong/mt/domain/notification/repository/WebSocketSessionRepository.java
  backend/src/main/java/com/metamong/mt/domain/notification/service/DefaultWebSocketNotificationService.java
  backend/src/main/java/com/metamong/mt/domain/notification/service/NotificationService.java
  backend/src/main/java/com/metamong/mt/domain/notification/service/WebSocketNotificationService.java
  backend/src/main/java/com/metamong/mt/global/auth/filter/NoAuthPrincipalFinderFilter.java
  backend/src/main/java/com/metamong/mt/global/auth/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/metamong/mt/global/auth/jwt/JwtHandshakeInterceptor.java
  backend/src/main/java/com/metamong/mt/global/auth/jwt/JwtTokenProvider.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/config/WebSocketConfig.java
  backend/src/main/resources/application.properties
  frontend/.env
  frontend/src/components/common/Footer.vue
  frontend/src/components/common/Header.vue
  frontend/src/locales/en.json
  frontend/src/store/index.js
Labels: back-end, feature, refactor

#148 feat: 알림 UI 구현
  backend/src/test/java/com/metamong/mt/domain/member/controller/MemberControllerTests.java
  backend/src/test/java/com/metamong/mt/domain/member/service/DefaultMemberServiceTest.java
  frontend/src/components/common/Header.vue
  frontend/src/components/nootification/notis.js
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/notification/NotificationList.vue
  frontend/src/router/index.js
Labels: front-end

#149 feat: 각 시설의 예약 내역 조회
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/response/FctReservationResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapper.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/mapper/reservation/ReservationMapper.xml
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/facility/FacilityReservationList.vue
  frontend/src/pages/facility/MyFacilityList.vue
  frontend/src/router/index.js
Labels: front-end, back-end

#153 fix: 관리자 화면 비율 변경
  frontend/src/App.vue
  frontend/src/style.css
Labels: front-end

#152 feat: 신고 API 연결
  backend/src/main/java/com/metamong/mt/domain/report/controller/ReportController.java
  backend/src/main/java/com/metamong/mt/domain/report/dto/request/ReportProcessRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/report/dto/request/ReportRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/controller/ReservationController.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/request/IsReportableRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/dto/response/ReservationResponseDto.java
  backend/src/main/java/com/metamong/mt/domain/reservation/repository/mybatis/ReservationMapper.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/DefaultReservationService.java
  backend/src/main/java/com/metamong/mt/domain/reservation/service/ReservationService.java
  backend/src/main/java/com/metamong/mt/global/config/constant/HttpRequestAuthorizationDefinition.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/mapper/reservation/ReservationMapper.xml
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/facility/SearchedFacilityList.vue
  frontend/src/pages/report/Report.vue
  frontend/src/pages/reservation/DetailReservation.vue
  frontend/src/router/index.js
  package-lock.json
  package.json
Labels: front-end, back-end

#154 feat: 알림 목록에 웹 소켓 연결
  backend/src/main/java/com/metamong/mt/domain/notification/controller/NotificationController.java
  backend/src/main/java/com/metamong/mt/domain/notification/handler/ClientResolverHandshakeInterceptor.java
  backend/src/main/java/com/metamong/mt/domain/notification/repository/jpa/NotificationRepository.java
  backend/src/main/java/com/metamong/mt/domain/notification/repository/mybatis/NotificationMapper.java
  backend/src/main/java/com/metamong/mt/domain/notification/service/DefaultWebSocketNotificationService.java
  backend/src/main/java/com/metamong/mt/domain/notification/service/NotificationService.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/config/WebSocketConfig.java
  backend/src/main/resources/mapper/notification/NotificationMapper.xml
  backend/src/test/java/com/metamong/mt/domain/notification/repository/jpa/NotificationRepositoryTest.java
  backend/src/test/java/com/metamong/mt/domain/notification/repository/mybatis/NotificationMapperTest.java
  db-schema/sampledata.sql
  frontend/src/components/common/Header.vue
  frontend/src/pages/notification/NotificationList.vue
  frontend/src/store/index.js
Labels: front-end, back-end, feature

#160 feat: 시설을 거리로 정렬하기
  frontend/src/components/common/Footer.vue
  frontend/src/pages/Home.vue
  frontend/src/pages/facility/SearchedFacilityList.vue
Labels: front-end

#162 feat: 시설 삭제 요청 구현
  backend/src/main/java/com/metamong/mt/domain/facility/controller/FacilityController.java
  backend/src/main/java/com/metamong/mt/domain/facility/dto/request/FacilityDeleteRequestDto.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/DefaultFacilityService.java
  backend/src/main/java/com/metamong/mt/domain/facility/service/FacilityService.java
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
  frontend/src/apis/axios.js
  frontend/src/pages/facility/FacilityRegistration.vue
  frontend/src/pages/facility/MyFacilityList.vue
  frontend/src/pages/member/ConfirmPassword.vue
Labels: front-end, back-end

#163 Fix/fct call
  backend/src/main/java/com/metamong/mt/global/auth/jwt/JwtAuthenticationFilter.java
  frontend/src/apis/axios.js
Labels: front-end, back-end

#164 feat: 시설 상태 불러올 때 테두리 색 변경
  backend/src/main/java/com/metamong/mt/domain/facility/dto/response/FacilityListOfMemberResponseDto.java
  backend/src/main/resources/mapper/facility/FacilityMapper.xml
  frontend/src/pages/facility/MyFacilityList.vue
Labels: front-end

#165 fix: 시설 등록 후 시설 리스트로 이동
  frontend/src/components/facility/FacilityDetail.vue
  frontend/src/pages/facility/FacilityRegistration.vue
Labels: fix

#166 fix: image-size of zone in Facility Detail
  backend/src/main/webapp/resources/files/1273efb1-3a16-4b75-8202-4bbc4b25386c.jpg
  backend/src/main/webapp/resources/files/8ae0960b-9fbd-400c-af84-dae2a1a4113e.png
  backend/src/main/webapp/resources/files/cc81b5dd-4df7-481d-a81d-d5771180b698.png
  frontend/src/components/facility/FacilityDetail.vue
  frontend/src/components/facility/FacilityRegistrationInput.vue
  frontend/src/pages/facility/FacilityRegistration.vue
  frontend/src/pages/facility/FacilityReservationList.vue
Labels: front-end, fix

#167 feat: redis caching
  backend/src/main/java/com/metamong/mt/domain/notification/repository/jpa/CachingNotificationRepository.java
  backend/src/main/java/com/metamong/mt/domain/notification/repository/jpa/JpaNotificationRepository.java
  backend/src/main/java/com/metamong/mt/domain/notification/repository/jpa/NotificationRepository.java
  backend/src/main/java/com/metamong/mt/domain/notification/repository/mybatis/NotificationMapper.java
  backend/src/main/java/com/metamong/mt/domain/notification/service/DefaultWebSocketNotificationService.java
  backend/src/main/resources/mapper/notification/NotificationMapper.xml
  backend/src/test/java/com/metamong/mt/domain/notification/repository/jpa/NotificationRepositoryTest.java
  backend/src/test/java/com/metamong/mt/domain/notification/repository/mybatis/NotificationMapperTest.java
Labels: back-end
