Repository meta-metamong/meta-space, pull requests merged in 2025-01, with the labels that each got.

#10 Feat : 로그아웃 수정
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtTokenProvider.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/member/dto/request/MemberRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/OwnerSignRequestDto.java
  backend/src/main/java/com/metamong/mt/member/model/Member.java
  backend/src/main/java/com/metamong/mt/member/repository/mybatis/IMemberRepository.java
  backend/src/main/java/com/metamong/mt/member/service/IMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/MemberService.java
Labels: back-end

#11 feat : 컬럼명 카멜케이스로 수정
  backend/src/main/java/com/metamong/mt/global/config/DataLoader.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/member/model/Member.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
Labels: back-end

#12 feat: 공통 응답 템플릿 정의
  backend/src/main/java/com/metamong/mt/global/apispec/BaseResponse.java
  backend/src/main/java/com/metamong/mt/global/apispec/ErrorCodeSpecifiable.java
  backend/src/main/java/com/metamong/mt/global/apispec/ErrorResponse.java
Labels: back-end

#13 feat: 아이디 및 비밀번호 찾기(컨트롤러 - 서비스 연결)
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/config/WebConfig.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/member/dto/request/FindMemberRequestDto.java
  backend/src/main/java/com/metamong/mt/member/service/IMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/MemberService.java
  frontend/src/components/member/FindMember.vue
Labels: back-end

#15 style: 컨트롤러 로그인 메서드 주석 삭제
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
Labels: back-end

#16 feat: 엑세스 토큰 삭제 메서드 추가
  frontend/src/apis/axios.js
Labels: front-end

#17 서비스 member 패키지 추가
  backend/src/main/java/com/metamong/mt/member/service/member/IMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/member/MemberService.java
Labels: back-end

#18 feat: 메일 전송 모듈 구현
  backend/pom.xml
  backend/src/main/java/com/metamong/mt/global/config/MailConfig.java
  backend/src/main/java/com/metamong/mt/global/mail/AbstractMailAgentBean.java
  backend/src/main/java/com/metamong/mt/global/mail/MailAgent.java
  backend/src/main/java/com/metamong/mt/global/mail/MailAgentMock.java
  backend/src/main/java/com/metamong/mt/global/mail/MailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/global/mail/MailType.java
  backend/src/main/java/com/metamong/mt/global/mail/SimpleMessageMailAgent.java
  backend/src/main/java/com/metamong/mt/global/mail/exception/MailTransmissionException.java
  backend/src/main/java/com/metamong/mt/global/mail/exception/UnsupportedMailTypeException.java
  backend/src/main/java/com/metamong/mt/member/service/member/IMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/member/MemberService.java
  backend/src/main/resources/application-prod.properties
  backend/src/main/resources/application.properties
  backend/src/test/java/com/metamong/mt/global/mail/MailMessaageFormatterTest.java
Labels: back-end

#25 feature: 메일 전송
  backend/src/main/java/com/metamong/mt/global/mail/MailType.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberControllerAdvice.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidPasswordResetRequestException.java
  backend/src/main/java/com/metamong/mt/member/exception/MemberErrorCode.java
  backend/src/main/java/com/metamong/mt/member/repository/jpa/MemberRepository.java
  backend/src/main/java/com/metamong/mt/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/IdNotificationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/PasswordResetLinkMailMessageFormatter.java
Labels: back-end

#24 refactor: 공통 API 응답 형식 적용
  backend/src/main/java/com/metamong/mt/global/mail/MailType.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberControllerAdvice.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidPasswordResetRequestException.java
  backend/src/main/java/com/metamong/mt/member/exception/MemberErrorCode.java
  backend/src/main/java/com/metamong/mt/member/exception/PasswordNotConfirmedException.java
  backend/src/main/java/com/metamong/mt/member/repository/jpa/MemberRepository.java
  backend/src/main/java/com/metamong/mt/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/IdNotificationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/PasswordResetLinkMailMessageFormatter.java
Labels: back-end

#23 refactor: 서비스 객체 메소드 이름 변경
  backend/src/main/java/com/metamong/mt/global/mail/MailType.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberControllerAdvice.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidPasswordResetRequestException.java
  backend/src/main/java/com/metamong/mt/member/exception/MemberErrorCode.java
  backend/src/main/java/com/metamong/mt/member/exception/PasswordNotConfirmedException.java
  backend/src/main/java/com/metamong/mt/member/repository/jpa/MemberRepository.java
  backend/src/main/java/com/metamong/mt/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/IdNotificationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/PasswordResetLinkMailMessageFormatter.java
Labels: back-end

#22 refactor: 회원가입 로직 service로 이동
  backend/src/main/java/com/metamong/mt/global/config/BeanConfig.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtTokenProvider.java
  backend/src/main/java/com/metamong/mt/global/mail/MailAgentMock.java
  backend/src/main/java/com/metamong/mt/global/mail/MailType.java
  backend/src/main/java/com/metamong/mt/global/web/cookie/DefaultCookieGenerator.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberControllerAdvice.java
  backend/src/main/java/com/metamong/mt/member/dto/request/OwnerSignRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/OwnerSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/UserSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidPasswordResetRequestException.java
  backend/src/main/java/com/metamong/mt/member/exception/MemberErrorCode.java
  backend/src/main/java/com/metamong/mt/member/exception/PasswordNotConfirmedException.java
  backend/src/main/java/com/metamong/mt/member/model/MemberUserDetailsService.java
  backend/src/main/java/com/metamong/mt/member/repository/jpa/MemberRepository.java
  backend/src/main/java/com/metamong/mt/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/IdNotificationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/PasswordResetLinkMailMessageFormatter.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
Labels: back-end

#21 refactor: 로그인 로직 수정
  backend/src/main/java/com/metamong/mt/global/config/BeanConfig.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtTokenProvider.java
  backend/src/main/java/com/metamong/mt/global/mail/MailAgentMock.java
  backend/src/main/java/com/metamong/mt/global/mail/MailType.java
  backend/src/main/java/com/metamong/mt/global/web/cookie/CookieGenerator.java
  backend/src/main/java/com/metamong/mt/global/web/cookie/DefaultCookieGenerator.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberControllerAdvice.java
  backend/src/main/java/com/metamong/mt/member/dto/request/LoginRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/OwnerSignRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/OwnerSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/UserSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/response/LoginInfoResponseDto.java
  backend/src/main/java/com/metamong/mt/member/dto/response/LoginResponseDto.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidLoginRequestException.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidLoginRequestType.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidPasswordResetRequestException.java
  backend/src/main/java/com/metamong/mt/member/exception/MemberErrorCode.java
  backend/src/main/java/com/metamong/mt/member/exception/PasswordNotConfirmedException.java
  backend/src/main/java/com/metamong/mt/member/model/MemberUserDetailsService.java
  backend/src/main/java/com/metamong/mt/member/repository/jpa/MemberRepository.java
  backend/src/main/java/com/metamong/mt/member/repository/mybatis/MemberMapper.java
  backend/src/main/java/com/metamong/mt/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/IdNotificationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/PasswordResetLinkMailMessageFormatter.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
  backend/src/test/java/com/metamong/mt/member/repository/mybatis/MemberMapperTest.java
  backend/src/test/java/com/metamong/mt/testutil/DummyEntityGenerator.java
Labels: back-end

#20 refactor: 클래스명 변경, JPA 사용
  backend/src/main/java/com/metamong/mt/global/config/BeanConfig.java
  backend/src/main/java/com/metamong/mt/global/config/DataLoader.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtTokenProvider.java
  backend/src/main/java/com/metamong/mt/global/mail/MailAgentMock.java
  backend/src/main/java/com/metamong/mt/global/mail/MailType.java
  backend/src/main/java/com/metamong/mt/global/web/cookie/CookieGenerator.java
  backend/src/main/java/com/metamong/mt/global/web/cookie/DefaultCookieGenerator.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/member/controller/MemberControllerAdvice.java
  backend/src/main/java/com/metamong/mt/member/dto/request/LoginRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/OwnerSignRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/OwnerSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/request/UserSignUpRequestDto.java
  backend/src/main/java/com/metamong/mt/member/dto/response/LoginInfoResponseDto.java
  backend/src/main/java/com/metamong/mt/member/dto/response/LoginResponseDto.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidLoginRequestException.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidLoginRequestType.java
  backend/src/main/java/com/metamong/mt/member/exception/InvalidPasswordResetRequestException.java
  backend/src/main/java/com/metamong/mt/member/exception/MemberErrorCode.java
  backend/src/main/java/com/metamong/mt/member/exception/MemberNotFoundException.java
  backend/src/main/java/com/metamong/mt/member/exception/PasswordNotConfirmedException.java
  backend/src/main/java/com/metamong/mt/member/model/Member.java
  backend/src/main/java/com/metamong/mt/member/model/MemberUserDetailsService.java
  backend/src/main/java/com/metamong/mt/member/model/Role.java
  backend/src/main/java/com/metamong/mt/member/repository/jpa/MemberRepository.java
  backend/src/main/java/com/metamong/mt/member/repository/mybatis/IMemberRepository.java
  backend/src/main/java/com/metamong/mt/member/repository/mybatis/MemberMapper.java
  backend/src/main/java/com/metamong/mt/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/IMemberService.java
  backend/src/main/java/com/metamong/mt/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/IdNotificationMailMessageFormatter.java
  backend/src/main/java/com/metamong/mt/member/service/mailformatter/PasswordResetLinkMailMessageFormatter.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
  backend/src/test/java/com/metamong/mt/BackendApplicationTests.java
  backend/src/test/java/com/metamong/mt/member/repository/mybatis/MemberMapperTest.java
  backend/src/test/java/com/metamong/mt/testutil/DummyEntityGenerator.java
Labels: back-end

#27 chore: DB schema DDL 추가
  db-schema/schema.sql
Labels: back-end

#29 refactor(JwtTokenProvider): Authorization에서 토큰 추출
  backend/src/main/java/com/metamong/mt/global/jwt/JwtTokenProvider.java
Labels: back-end

#30 Feat/reissue token
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/global/apispec/BaseResponse.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/config/WebConfig.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtAuthenticationFilter.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtTokenProvider.java
  frontend/src/apis/axios.js
  frontend/src/components/common/Header.vue
  frontend/src/components/member/LoginMember.vue
Labels: front-end, back-end

#31 feat: 파일 업로드 기능 구현
  .gitignore
  backend/src/main/java/com/metamong/mt/global/config/BeanConfig.java
  backend/src/main/java/com/metamong/mt/global/file/AbstractFilenameResolver.java
  backend/src/main/java/com/metamong/mt/global/file/FileType.java
  backend/src/main/java/com/metamong/mt/global/file/FileUploader.java
  backend/src/main/java/com/metamong/mt/global/file/FilenameResolver.java
  backend/src/main/java/com/metamong/mt/global/file/local/FileUploadController.java
  backend/src/main/java/com/metamong/mt/global/file/local/LocalFileUploader.java
  backend/src/main/java/com/metamong/mt/global/file/local/LocalFilenameResolver.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/metamong/mt/global/file/local/LocalFileUploaderTest.java
  backend/src/test/java/com/metamong/mt/global/file/local/LocalFilenameResolverTest.java
  backend/src/test/java/com/metamong/mt/global/file/local/test-image.webp
Labels: back-end

#34 웹소켓 추가
  backend/pom.xml
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/config/WebSocketConfig.java
  backend/src/main/java/com/metamong/mt/global/jwt/JwtHandshakeInterceptor.java
  frontend/package-lock.json
  frontend/package.json
Labels: front-end, back-end

#35 feat: 차트 기능 구현
  frontend/src/components/chart/LineChart.vue
  frontend/src/components/chart/PieChart.vue
  frontend/src/pages/UserStatistics.vue
  frontend/src/router/index.js
Labels: front-end

#36 chore: 빌드를 위한 스크립트 작성
  .gitignore
  Jenkinsfile
  backend/Dockerfile
  backend/pom.xml
  backend/src/test/java/com/metamong/mt/global/file/local/LocalFileUploaderTest.java
  backend/src/test/resources/test-image.webp
  db-schema/Dockerfile
  db-schema/init.sh
  frontend/Dockerfile
Labels: back-end

#37 feat: 마이페이지 화면 구현
  frontend/src/components/common/Header.vue
  frontend/src/components/member/MyPageView.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/MyPage.vue
  frontend/src/router/index.js
Labels: front-end

#38 소켓,스케줄링 추가
  backend/src/main/java/com/metamong/mt/BackendApplication.java
  backend/src/main/java/com/metamong/mt/domain/member/controller/MemberController.java
  backend/src/main/java/com/metamong/mt/domain/member/repository/mybatis/MemberMapper.java
  backend/src/main/java/com/metamong/mt/domain/member/service/DefaultMemberService.java
  backend/src/main/java/com/metamong/mt/domain/member/service/MemberService.java
  backend/src/main/java/com/metamong/mt/global/config/MyWebSocketHandler.java
  backend/src/main/java/com/metamong/mt/global/config/SecurityConfig.java
  backend/src/main/java/com/metamong/mt/global/config/WebSocketConfig.java
  backend/src/main/resources/mapper/member/MemberMapper.xml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/Header.vue
  frontend/src/components/member/WebSocket.vue
  frontend/src/locales/en.json
  frontend/src/locales/ko.json
  frontend/src/pages/Socket.vue
  frontend/src/router/index.js
Labels: front-end, back-end
